/* ========================================== */
/* ========== PROJECT CARD STYLING ========== */
/* ========================================== */


.project-card {
    color: red;
}




/* ========================================== */
/* ========== PROJECT SECTION STYLING ========== */
/* =========================================== */


.project-section > h2 {
    color: var(--favorite-color);
    margin-top: 3rem;
    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;
}



















/* ===================================================================== */
/* ====================== MOBILE RESPONSIVENESS ======================== */
/* ===================================================================== */








