/* TestimonialSection Styling */

 
.testimonial-section > h2 {
  color: var(--favorite-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-weight: 700;
}

.testimonial-card {
    background-color: #f5f5f5;
    color: var(--favorite-color);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-weight: 500;
  }
  
  .testimonial-text q {
    font-size: 1.2rem;
    font-style: italic;
    margin-bottom: 10px;
  }
  
  .author-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .author-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .author-details {
    text-align: left;
  }
  
  .author-name {
    font-weight: bold;
    font-size: 1rem;
    margin: 0;
  }
  
  .job-title {
    font-size: 0.9rem;
    margin: 0;
  }
  
  .company {
    font-size: 0.9rem;
    color: #666;
    margin: 0;
  }
  

  @media screen and (max-width: 760px) {
    .testimonial-card {
        margin-bottom: 3rem;
    }
}